<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="Умный калькулятор"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.smartcalculator.ai.EquationActivity"
            android:exported="false" />

        <activity
            android:name="com.smartcalculator.ai.SystemActivity"
            android:exported="false" />

        <activity
            android:name="com.smartcalculator.ai.GeometryActivity"
            android:exported="false" />

        <activity
            android:name="com.smartcalculator.ai.FinanceActivity"
            android:exported="false" />

        <activity
            android:name="com.smartcalculator.ai.MatrixActivity"
            android:exported="false" />

        <activity
            android:name="com.smartcalculator.ai.MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>
